@media screen and (max-width: 960px) {
  .navbar-menu.is-active {
    height: 100vh;
    padding-top: 32px;
    z-index: 5;

    &  .navbar-end {
      margin-top: 16px;
    }

    & .navbar-item {
      font-size: 1.5rem;
    }
  }
}
