.skills-card {
  height: 100%;
  border-radius: 10%;
  transition: all 0.3s;
  // background-color: hsla(0, 0%, 100%, .4);

  &:hover {
    filter: saturate(1.2);
    transform: translate3d(0px, -4px, 0px);
  }
}
