.skills-card {
  &__column {
    // border-bottom: 0px solid #e6ecf8;
    border-right: 1px solid #e6ecf8;
    padding: 60px 35px;

    &:last-child {
      border-right: none;
    }
  }

  &__category {
    width: 150px;
    padding: 16px;
    // border: 1px solid #000;
    box-shadow: var(--bulma-shadow);
    border-radius: 10%;

    &-title {
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
