$dark-color: #1f281a;
$light-grey-color: #424240;
$dark-accent-color: #535143;
$accent-color: #4e3e2c;
$light-accent-color: #d0b4a7;

// $pink: #FA7C91;
// $beige-light: #D0D1CD;

// @use "bulma/sass" with (
//   $family-sans-serif: '"Nunito", sans-serif',
//   $grey-dark: $dark-color,
//   $grey-light: $beige-light,
//   $primary: $accent-color,
//   $link: $pink,
// );

// $link: $accent-color;
