.social-icons {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  & .buttons {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 64px;

    & .button {
      border-radius: 0;
      border: none;
      width: 100px;
      padding-left: 4px;
      padding-right: 40px;
      transition: all 0.2s;

      &.github {
        background-color: #4e545a;
      }

      &.linkedin {
        background-color: #0077ba;
      }

      &.mail {
        background-color: #fff;

        & .icon {
          color: red !important;
        }
      }

      &.instagram {
        background: radial-gradient(
            circle at 25% 110%,
            #fdf497 0,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
          ),
          radial-gradient(
            circle at 25% 110%,
            #b9a800 0,
            #938500 5%,
            #b10f00 45%,
            #8c0061 60%,
            #002ca9 90%
          );
      }

      &:hover {
        transform: translate3d(-20px, 0, 0);
      }
    }
  }
}
