.social-icons {
  position: fixed;
  z-index: 2;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  & .buttons {
    gap: 0;
    width: 64px;

    & .button {
      border-radius: 0;
      border: none;
      width: 100px;
      padding-left: 4px;
      padding-right: 40px;
      transition: all 0.2s;

      &.github {
        background-color: #4e545a;
      }

      &.linkedin {
        background-color: #0077ba;
      }

      &.mail {
        background-color: #fff;

        & .icon {
          color: red !important;
        }
      }

      &:hover {
        transform: translate3d(-20px, 0, 0);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home-page .social-icons {
    display: none;
  }
}