.home-page {
  height: calc(100vh - 64px);
  overflow: hidden;
  border-bottom: 1px solid red; //fix later

  &__title {
    position: relative;
    z-index: 10;
    width: max-content;
  }

  &__name {
    font-size: 5rem;
    line-height: 1;
  }

  &__colored-line {
    transform: translate(0, 0) rotate(-1deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
    display: block;
    height: 25%;
    width: 100%;
    z-index: -10;
    transform-origin: left;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__portfolio {
    transition: all 0.3s;
    max-width: 120px;

    & .icon {
      opacity: 0;
      transition: all 0.3s;
    }

    &:hover {
      transform: scaleX(1.05);

      & .icon {
        opacity: 1;
      }
    }
  }
}
