.home .navbar-menu {
  & .navbar-start {
    display: none;
  }

  &.is-active {
    & .navbar-start {
      display: block;
    }
  }
}

.home-page {
  // &__container {

  // }

  &__colored-line {
    transform: translate(0, 0) rotate(-1deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
    display: block;
    height: 25%;
    width: 100%;
    z-index: -2;
    transform-origin: left;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__portfolio-button {
    & .icon {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover .icon {
      opacity: 1;
    }
  }
}

// @media screen and (max-width: 480px) {
//   // .home-page__title {
//   //   max-width: 250px;
//   //   font-size: 3rem !important;
//   //   color: red;
//   //   background-color: red;
//   // }
// }
