.language-buttons {
  & .button {
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 8px;

    &:hover {
      --bulma-button-background-l-delta: none;
    }

    &.is-active {
      --bulma-button-background-l-delta: none;
      border-bottom: 1px solid black;
    }
  }

  & span {
    display: block;
    margin-left: 10px;
  }
}
