.scroll-to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  border-radius: 100%;
}

.is-hidden {
  display: none;
}

.is-active {
  display: block;
}

@media screen and (max-width: 600px) {
  .scroll-to-top-button {
    display: none;
  }
}
