.project-card {
  &__container:hover {
    & .image .project-picture {
      transform: scale(1.1);
      transition: transform 0.5s;
    }

    & .project-card__overlay,
    & .project-card__text {
      opacity: 1;
    }
  }

  &__overlay,
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.45s ease-in-out;
  }
}
