.intro {
  &__colored-line {
    transform: translate(0, 0) rotate(-1deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
    display: block;
    height: 25%;
    width: 100%;
    z-index: -2;
    transform-origin: left;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__portfolio-button {
    & .icon {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover .icon {
      opacity: 1;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 70px;
  }
}

@media screen and (max-width: 600px) {
  .intro__title {
    font-size: 32px;
    line-height: 40px;
  }
}
